/*
  drawer.css overrides
  --------------------
  Makes content any “butted” content full width */

.drawer-butt,
.drawer-open .drawer-butt {
  margin-left: 0;
}

/*
  App Header
  ----------- */

.app__hd {
  height: 48px;
  background: #000;
  color: #fff;
}

.app__hd [data-drawer-toggle] {
  display: none;
  margin: 15px;
}

.app__hd .nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.app__hd .nav li {
  float: left;
  line-height: 1;
  padding: 16px;
}

/*
  Media Queries
  -------------- */

@media only screen and (max-width: 870px) {

  .app__hd [data-drawer-toggle] {
    display: inline;
  }
  .app__hd .nav {
    display: none;
  }
}
