.app__hd {
  display: none; /* Hide header on larger viewports */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: 48px;
  background: #000;
  color: #fff;
}

.app__hd [data-drawer-toggle] {
  margin: 15px;
}

@media only screen and (max-width: 870px) {
  .app__hd {
    display: block;
  }

  .app__bd {
    padding-top: 48px;
  }
}