.app__hd {
  display: none; /* Hide header on larger viewports */
  height: 48px;
  background: #000;
  color: #fff;
}

.app__hd [data-drawer-toggle] {
  margin: 15px;
}

@media only screen and (max-width: 870px) {
  .app__hd {
    display: block;
  }
}