/* For demo purposes (not required for drawer.css) */
body {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  background: #ccc;
}
h1, strong {
  font-family: "helvetica neue", sans-serif;
}
p, ul, ol {
  line-height: 1.4;
  max-width: 49rem;
}

.main {
  padding-left: 2%;
  padding-right: 2%;
  background-color: #e6e6e6;
}

[class^=ios-safari-3-] .drawer,
[class^=ios-safari-4-] .drawer,
[class^=android-1-] .drawer,
[class^=android-2-] .drawer {
  position: absolute;
  bottom: auto;
  overflow-y: visible;
}