/* For demo purposes (not required for drawer.css) */
body {
  font-family: georgia, serif;
  background: #e6e6e6;
}
h2,h3 {
  font-weight: normal;
}
h1, strong {
  font-family: "helvetica neue", sans-serif;
}
.main {
  padding-left: 2%;
  padding-right: 2%;
}
p, ul, ol {
  line-height: 1.4;
  max-width: 49rem;
}
.drawer {
  background-color: #ccc;
}