/* For demo purposes (not required for drawer.css) */
body {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  background: #ccc;
}
h1, strong {
  font-family: "helvetica neue", sans-serif;
}
p, ul, ol {
  line-height: 1.4;
  max-width: 49rem;
}
pre {
  overflow: auto;
}

.app__bd {
  background-color: #e6e6e6;
}
.main {
  padding-left: 2%;
  padding-right: 2%;
}
